.banner {
  & img {
    width: 100%;
    height: 275px;
    object-fit: cover;
    @media (min-width: 1440px) {
      height: 383px;
    }
  }
}

.menu {
  background-color: $color-grey;
  border-radius: 40px 40px 0 0;
  position: relative;
  margin-top: -50px;
  @media (min-width: 1440px) {
    max-width: 1025px;
    margin: 0 auto -50px auto;
    top: -50px
  }

  &__header {
    font-family: $font-shrikhand;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    @media (min-width: 1440px) {
      justify-content: center;
      gap: 20px;
    }
  }

  &__icon {
    font-size: 24px;
    margin-right: 15px;
  }

  &__lists {
    display: flex;
    flex-direction: column;
    @media (min-width: 1440px) {
      width: 62%;
      margin: auto;
    }
  }

  &__list {
    margin: 30px 0 0 28px;
    width: 100%;
    overflow: hidden;
    margin-left: 0;

    & h3 {
      font-size: 16px;
      font-weight: 300;
      text-transform: uppercase;
      position: relative;
      margin: 20px 0 22px 6px;

      &:after {
        content: "";
        width: 40px;
        height: 3px;
        background-color: $color-tertiary;
        position: absolute;
        left: 0;
        top: 24px;
      }
    }
  }

  &__button {
    @include flexbox-center();
    margin: 45px 0 8px 0;
  }
}

.list {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: $color-white;
  border-radius: 15px;
  padding: 12px 22px 12px 10px;
  margin-bottom: 14px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  position: relative;

  &__content,
  &__title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__title {
    margin: 0 0 4px 0;
    font-size: 18px;
  }

  &__subtitle {
    font-weight: 300;
    font-size: 14px;
  }

  &__price {
    font-weight: 700;
    font-size: 14px;
    color: $color-dark_grey;
    transition: 0.5s ease-in-out;
    margin-left: 15px;
  }

  &__order {
    position: absolute;
    background-color: $color-tertiary;
    color: $color-white;
    font-size: 20px;
    padding: 23px 20px;
    border-radius: 0 15px 15px 0;
    right: 0;
    top: 0;
    transform: translateX(60px);
    transition: 0.5s ease-in-out;
  }

  &__icon {
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
  }

  &:hover {
    cursor: pointer;

    .list__price {
      margin-right: 60px;
    }

    .list__order {
      transform: translateX(0);
    }

    .list__icon {
      transform: rotate(360deg);
    }
  }
}
